
.mb-element-digitizer {
    // Defeat highly specific table row background color rule on feature hover
    // See Mapbender/CoreBundle/Resources/public/sass/modules/_result_table.scss
    .mapbender-element-result-table {
      > .dataTables_wrapper {
        > table[role="grid"] {
          > tbody > tr {
            &.hover td {
              background-color: #F7F79A;
            }
            &.editing td, &.hover.editing td {
              background-color: #D8EEFF;
            }
          }
          > thead > tr {
            th {
              color: white;
              background-color: #6fb536;
            }
            th.sorting_asc, th.sorting_desc {
              background-color: #578e2a;
            }
          }
        }
      }
    }
}

.digitizer-style-editor {
    label .value-preview {
        font-weight: normal;
    }
}

.mb-digitizer-contextmenu {
    position: absolute;
    pointer-events: auto;
    padding: 0.5em;
    background: #fff;
    border-radius: 0.35em;
    box-shadow: rgba(0, 0, 0, 0.25) 0.25em 0.25em 0.5em;
    > ul {
        list-style: none;
    }
    li {
        padding: 0.25em;
        cursor: pointer;
        &:hover {
            background: #eee;
        }
    }
}
