
.digitizer-style-editor {
    label .value-preview {
        font-weight: normal;
    }

    textarea.form-control {
        min-height: 0;
    }
}

.mb-digitizer-contextmenu {
    position: absolute;
    pointer-events: auto;
    padding: 0.5em;
    background: #fff;
    border-radius: 0.35em;
    box-shadow: rgba(0, 0, 0, 0.25) 0.25em 0.25em 0.5em;
    > ul {
        list-style: none;
    }
    li {
        padding: 0.25em;
        cursor: pointer;
        &:hover {
            background: #eee;
        }
    }

    .menu-header {
        font-weight: bold;
        color: #333;
        cursor: default;
        user-select: none;
        pointer-events: none;
    }
}

.btn-light {
 --bs-btn-border-color: #dee2e6;
}

.btn-primary{
  --bs-btn-bg: #279ddc;
  --bs-btn-border-color: #279ddc;
  --bs-btn-hover-bg: #1A709E;
  --bs-btn-hover-border-color: #1A709E;
  --bs-btn-active-bg: #1A709E;
  --bs-btn-active-border-color: #1A709E;
}

.pagination {
  --bs-pagination-active-bg: #279ddc;
  --bs-pagination-active-border-color: #279ddc;
  list-style: none;
}