<div class="elementForm elementFormDataManager">
    <style media="all">
        .elementFormDataManager label.block {
            display: block;
            margin: 0;
        }
        .elementFormDataManager label.block + .inputWrapper {
            /* defeat .inputWrapper default width limitation */
            width: 100%;
        }
        .elementFormDataManager .code-yaml {
            width: 100%;
        }
        .elementFormDataManager .CodeMirror {
            height: auto;
        }
        .elementFormDataManager .CodeMirror-code {
            /* Provide some minimal space even for (nearly) empty "schemes" text (when creating new element) */
            min-height: 15em;
        }
    </style>
    <script type="text/javascript">
        $(function(){
            var textarea = document.getElementById({{ form.configuration.schemes.vars.id | json_encode | raw }});

            var yamlEditor = CodeMirror.fromTextArea(textarea, {
                mode: "text/x-yaml",
                styleActiveLine: true,
                viewportMargin: Infinity,
                lineNumbers: true,
                indentUnit: 2,
                tabSize: 2,
                indentWithTabs: false,
                lineWrapping: true
            });

            yamlEditor.on("change",function(obj, changedObject){
                var value = obj.getValue().replace(/\t/g,"  ");
                $(textarea).val(value);
            });


            // Resize, but only if rendered in popup
            var $popupForm = $('.popup form');
            var popupContainer = $popupForm.closest('.popup');

            popupContainer.css({
                width:  '100%',
                height: '100%'
            });

        })
    </script>
    {{ form_row(form.title) }}
{% block schemes_row %}
    {{ form_row(form.configuration.schemes, {'label_attr': {'class': 'block'}}) }}
{% endblock schemes_row %}
</div>
