
.mb-element-digitizer {

    .resultTableControlButtons {
        .save:not(:disabled) {
            background-color: darken($buttonFirstColor, 10%);
        }
    }

    .digitizing-tool-set, .resultTableControlButtons {
        margin-top: 10px;

        > button {

            &:first-child {
                margin-left: 0px;
            }

            width: 26px;
            margin-left: -1px;
            padding: 3px 4px;

            &:before {
                display: inline-block;
                font-size: 17px;
                padding-top: 0px;
            }

            &.active,
            &.active:focus {
                background-color: #47791f !important;
            }
        }

        > input[type="checkbox"] {
            margin-left: 0px;
        }

        > label input[type="checkbox"] {
            margin-left: 0px;
        }
    }

}

.colorpicker-saturation {
    // TODO this is an evil hack: For unknown reasons, the default option does not work
    //background-image: url(../img/bootstrap-colorpicker/saturation.png) !important;
    background-image: url(components/bootstrap-colorpicker/img/bootstrap-colorpicker/saturation.png) !important;
}

.colorpicker-hue {
    background-image: url(components/bootstrap-colorpicker/img/bootstrap-colorpicker/hue.png) !important;
}

.spinner {
    border: 1px dotted #ccc !important;
    border-radius: 50% !important;
    border-top: 1px dotted #555 !important;
    width: 10px !important;
    height: 10px !important;
    animation: spin 1s linear infinite !important;
    float: right !important;
    padding: 0 !important;
}



/* Font Awesome */



.icon-style:before {
    font-family: FontAwesome;
    content: "\f1fb";
}


.icon-eyeOff:before {
    font-family: FontAwesome;
    content: "\f070";
}

.icon-eyeOn:before {
    font-family: FontAwesome;
    content: "\f06e";
}

.icon-copy:before {
    font-family: FontAwesome;
    content: "\f0c5";
}

.icon-save:before {
    font-family: FontAwesome;
    content: "\f0c7";
}

.icon-printmetadata:before {
    font-family: FontAwesome;
    content: "\f02f";
    color: grey;
}
