
.mb-element-digitizer {

    .resultTableControlButtons {
        .save:not(:disabled) {
            background-color: darken($buttonFirstColor, 10%);
        }
    }

    .digitizing-tool-set, .resultTableControlButtons {
        margin-top: 10px;

        > button {

            &:first-child {
                margin-left: 0px;
            }

            width: 26px;
            margin-left: -1px;
            padding: 3px 4px;

            &:before {
                display: inline-block;
                font-size: 17px;
                padding-top: 0px;
            }

            &.active,
            &.active:focus {
                background-color: #47791f !important;
            }
        }

        > input[type="checkbox"] {
            margin-left: 0px;
        }

        > label input[type="checkbox"] {
            margin-left: 0px;
        }
    }

    // Defeat highly specific table row background color rule on feature hover
    // See Mapbender/CoreBundle/Resources/public/sass/modules/_result_table.scss
    .mapbender-element-result-table {
      > .dataTables_wrapper {
        > table[role="grid"] {
            > tbody > tr {
                &.hover {
                    background-color: #F7F79A;
                }
            }
        }
      }
    }

    // disabled buttons (Mapbenderish / Bootstrappy)
    button[disabled] {
        opacity: 0.75;
    }
}

.colorpicker-saturation {
    // TODO this is an evil hack: For unknown reasons, the default option does not work
    //background-image: url(../img/bootstrap-colorpicker/saturation.png) !important;
    background-image: url(components/bootstrap-colorpicker/img/bootstrap-colorpicker/saturation.png) !important;
}

.colorpicker-hue {
    background-image: url(components/bootstrap-colorpicker/img/bootstrap-colorpicker/hue.png) !important;
}

.spinner {
    border: 1px dotted #ccc !important;
    border-radius: 50% !important;
    border-top: 1px dotted #555 !important;
    width: 10px !important;
    height: 10px !important;
    animation: spin 1s linear infinite !important;
    float: right !important;
    padding: 0 !important;
}


