// @i mport url("components/jQuery-contextMenu/src/jquery.contextMenu.css");
@import "../vendor/viscreation/vis-ui.js/src/styles/modal";

$selectColor: #F7F79A;

.mb-element-digitizer {

  padding: 0;

  > .title {
    margin-bottom: 9px;
    text-shadow: 0px 1px 0px #fff;
  }

  > select {
    background-color: #fff;
    padding: 4px;
    width: 100%;
    display: block;
    option {
      font-weight: bold;
    }
    margin-bottom: 10px;
  }

  .mapbender-element-result-table {
    margin-top: 10px;

    > .dataTables_wrapper.no-footer{
      overflow: hidden;
    }

    // Row higlight by feature select
    table.dataTable > tbody > tr {

      &.odd, &.even {
        &.hover td {
          background-color: $selectColor;
        }
        &:hover td {
          background-color: $selectColor;
        }
      }
      td{
        white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
        white-space: -webkit-pre-wrap; /*Chrome & Safari */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        white-space: pre-wrap;       /* css-3 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */
        word-break: break-all;
        white-space: normal;
      }
    }
  }

}

.olHandlerBoxSelectFeature {
  background-color: white;
  border: 2px solid blue;
  font-size: 1px;
  opacity: 0.5;
  position: absolute;
}

.modal-body {
  div.notifyjs-container > div.notifyjs-bootstrap-base > span {
    display: block;
    width: auto;
    white-space: pre;
  }
}



/**
* Context menu
*/

ul.context-menu-list.context-menu-root {
  margin:0;
  padding:0;

  min-width: 120px;
  max-width: 250px;
  display: inline-block;
  position: absolute;
  list-style-type: none;

  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  > li.context-menu-item {
    padding: 2px 2px 2px 24px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    display: block;
    line-height: 17px;

    &.hover {
      cursor: pointer;
      background-color: $selectColor;
    }

    &.disabled {
      color: #666;
    }

    & > label {
      >   input, > textarea {
        -webkit-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
      }
    }

    &.context-menu-separator {
      padding-bottom:0;
      border-bottom: 1px solid #DDD;
    }

    > span {
      font-family: $fontFamily;
    }

    /* icons
      #protip:
      In case you want to use sprites for icons (which I would suggest you do) have a look at
      http://css-tricks.com/13224-pseudo-spriting/ to get an idea of how to implement
      .context-menu-item.icon:before {}
   */
    &.icon {
      background-repeat: no-repeat;
      background-position: 4px 2px;
      list-style-type: none;
    }
//    &.icon-edit { background-image: url(images/page_white_edit.png); }
//    &.icon-cut { background-image: url(images/cut.png); }
//    &.icon-copy { background-image: url(images/page_white_copy.png); }
//    &.icon-paste { background-image: url(images/page_white_paste.png); }
//    &.icon-delete { background-image: url(images/page_white_delete.png); }
//    &.icon-add { background-image: url(images/page_white_add.png); }
//    &.icon-quit { background-image: url(images/door.png); }

  }

  .context-menu-input {

    /* vertically align inside labels */
    > label {
      display: block;
      width: 100%;
      box-sizing: border-box;

      > * {
        vertical-align: top;
      }
      /* position checkboxes and radios as icons */
      > input[type="checkbox"],
      > input[type="radio"] {
        margin-left: -17px;
      }
      > span {
        margin-left: 5px;
      }

      > input[type="text"],
      > textarea,
      > select {
        display: block;
        width: 100%;
        box-sizing: border-box;
      }

      > textarea {
        height: 100px;
      }
    }
  }



  .context-menu-input.hover,
  .context-menu-item.disabled.hover {
    cursor: default;
    background-color: #EEE;
  }

  .context-menu-submenu:after {
    content: ">";
    color: #666;
    position: absolute;
    top: 0;
    right: 3px;
    z-index: 1;
  }

  .context-menu-input > label
  .context-menu-item > .context-menu-list {
    display: none;
    /* re-positioned by js */
    right: -5px;
    top: 5px;
  }

  .context-menu-item.hover > .context-menu-list {
    display: block;
  }

  .context-menu-accesskey {
    text-decoration: underline;
  }

}
