.elementFormDigitizer {
  width: 100%;
  label.labelInput {
    display: block;
    margin: 0;
    height: 23px;
  }

  .inputWrapper {
    width: 100%;
  }
  .dropdown {
    min-width: auto;
    width: 100%;
  }
}

.popupContainer {
  > .popup {
    > .popupScroll {
      > .popupSubContent {
        margin-bottom: 0;
      }
    }
  }
}
