@mixin vertical-align-middle {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/**
* Form elements!
*/
.modal-body {

  .ui-accordion.ui-widget{
    display: block;



    > .ui-accordion-header{

      background-color: #ad2223;
      border: 1px solid rgb(255, 255, 255);
      color: rgb(255, 255, 255);
      cursor: pointer;
      font-size: 12px;
      line-height: 11px;
      margin: 0;
      margin-bottom: -1px;
      padding: 6px 8px;
      clear: both;
      height: auto;
      user-select: none !important;

      > .buttons{
        float: right;
        margin-top: -6px;
        margin-right: -8px;
        clear: both;
        margin-bottom: 0px;
        > button{
          padding-top: 5px;
          padding-bottom: 0px;
          padding-left: 5px;
          padding-right: 5px;
          line-height: 12px;
          font-size: 0;
          margin: 0;
          height: auto;
          margin-left: -1px;
          &:before{
            font-size: 12px;
          }
        }
      }
      > span{
        text-decoration: none;
        user-select: none !important;
      }
      &.ui-accordion-header-collapsed{

      }
    }

    .ui-accordion-content.ui-widget-content {
      position: relative;
      height: auto !important;
      &.ui-accordion-content-active {

      }
    }
  }

  .form-group > .form-group {
    margin-bottom: 0;
  }

  .form-group, .checkbox {
    position: relative;


    &.image-container{
      > img{
        @include vertical-align-middle;
      }
    }

    &.file-container{
      .progress-bar{
        transition: none;
      }
    }

    &.text {
      > .text {
        margin-left: 5px;
        margin-right: 5px;
        font-size: 12px;
        .bold{
          font-weight: bold;
        }
      }
    }

    > a.copy-to-clipboard{
      display: block;
      bottom: -1px;
      right: 0px;
      color: #9999A9;
      opacity: 0.6;
      cursor: default;
      text-decoration: none;
      padding-left: 2px;
      padding-top: 1px;
      &:hover{
        opacity: 1;
      }

    }

    > a.infoText {
      display: block;
      bottom: -1px;
      right: 0px;
      color: #9999A9;
      opacity: 0.6;
      cursor: default;
      text-decoration: none;
      width: 17px;

      &:hover{
        opacity: 1;
      }

      &:after {
        display: inline-block;
        font-family: FontAwesome;
        content: "\f05a";
        font-size:14px;
        line-height: 30px;
        vertical-align: middle;
        margin-right: 7px;
      }
    }

    &.has-title {
      > a.copy-to-clipboard,
      > a.infoText {
        display: inline-block;
        position: relative;
        bottom: inherit;
        right: inherit;
        &:after{
          line-height: inherit;
          vertical-align: top;
          margin-left: 3px;
          margin-top: 1px;
        }
      }
    }

    &.select-container{
      > a.copy-to-clipboard,
      > a.infoText{
        bottom: inherit;
        right: 15px;
      }
      &.has-title{
        > a.copy-to-clipboard,
        > a.infoText{
          right: auto;
        }
      }

      .select2-container {
        display: block;
        width: auto !important;
        > .selection {
          > .select2-selection {
            border: 1px solid #ccc;
            border-radius: 0;
          }
        }
      }
    }
    &.textarea-container{
      > a.copy-to-clipboard,
      > a.infoText{
        bottom: inherit;
      }
    }
  }

  .checkbox{
    > a.copy-to-clipboard,
    > a.infoText {
      display: inline-block;
      position: absolute;
      bottom: inherit;
      right: inherit;
      margin-top: -4px;
      z-index: 1;
    }
  }
  .form-group {
    > button.btn {
      margin-right: 0px;
      margin-bottom: 0px;
      vertical-align: bottom;
      margin-left: -1px;
      display: inline-block;
      &:first-child{
        margin-left: 15px;
      }
    }
    > .input-group{
    }
  }
  .slider-holder{

    width: 100%;
    vertical-align: top !important;
    > .form-group{
      margin-left: 10px;
      margin-right: 10px;
    }
    .ui-slider {
      display: block;
      position: relative;
      height: 11px;
      clear: both;
      margin-top: 0;
      margin-bottom: 2px;
      top: 6px;
      border: 1px solid #ccc;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      background-color: #f6f6f6;

      .ui-slider-range {
        display: block;
        position: absolute;
        padding: 0;
        margin: 0;
        right: 0;
      }

      .ui-slider-handle {
        top: -6px !important;
        display: block;
        position: absolute;
        width: 23px;
        height: 23px;
        z-index: 10;
        margin-left: -10px;
        margin-right: 10px;
        border: 1px solid #ccc;
        background-color: #e2e2e2;
        cursor: ew-resize;

        &:focus {
          background-color: #d10a10;
          box-shadow: inset 0 1px 1px transparent, 0 0 8px #d10a10;
          outline: none;
        }
      }
    }
  }

  .input-group-addon{
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

body > .select2-container {

  * {
    font-size: 11px;
    color: #707070;
  }

  > .select2-dropdown {
    border: 1px solid #ccc;
    border-radius: 0;
    > .select2-results {
      > [role="tree"] {
        > li[role="treeitem"]{

        }
      }
    }
  }
}
