<div class="elementForm elementFormDigitizer">
    <style media="all">
        .elementFormDigitizer .full-width-input .inputWrapper {
            /* defeat .inputWrapper default width limitation */
            width: 100%;
        }
        .elementFormDigitizer label.block {
            display: block;
            margin: 0;
        }
        .elementFormDigitizer .code-yaml {
            width: 100%;
        }
        .elementFormDigitizer .CodeMirror {
            height: auto;
        }
    </style>
    <script type="text/javascript">
        $(function(){
            var textarea = document.getElementById("form_configuration_schemes");
            var yamlEditor = CodeMirror.fromTextArea(textarea, {
                mode: "text/x-yaml",
                styleActiveLine: true,
                lineNumbers: true,
                indentUnit: 2,
                tabSize: 2,
                indentWithTabs: false,
                lineWrapping: true
            });

            yamlEditor.on("change",function(obj, changedObject){
                var value = obj.getValue().replace(/\t/g,"  ");
                $(textarea).val(value);
            });

            // Resize, but only if rendered in popup
            var $popupForm = $('.popup form');
            var popupContainer = $popupForm.closest('.popup');

            popupContainer.css({
                width: '100%',
                height: '100%'
            });
        })
    </script>
    {{ form_row(form.title) }}
    {{ form_row(form.configuration.target) }}
    <div class="full-width-input">
        {{ form_row(form.configuration.schemes, {'label_attr': {'class': 'block'}}) }}
    </div>
</div>
